name: Rust

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install minimal nightly with clippy and rustfmt
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        components: rustfmt, clippy

    - uses: actions/checkout@v2    
      
    - name: Rust Build
      working-directory: ./rust
      run: cargo build --verbose
   
    - name: fmt
      working-directory: ./rust
      run: |
        cargo fmt --all -- --check
        
    - name: Rust tests
      working-directory: ./rust
      run: cargo test --all
