name: Rust

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

defaults:
  run:
    shell: bash
    working-directory: ./rust

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2      
    - name: Install minimal nightly with clippy and rustfmt
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        components: rustfmt, clippy  
      
    - name: Run cargo check
      uses: actions-rs/cargo@v1
      with:
        command: check
   
    - name: fmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        
    - name: Rust tests
      working-directory: ./rust
      run: cargo test --all
